/* * * * LAYOUT * * * */
/* Variables */
/* * */
/* Toplevel */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: 100%;
  height: 100%;
  color: #222222;
  background-color: #d1dad5;
  font-size: 16px;
  box-sizing: border-box; }

ul {
  /* reset bullet padding, no bullets */
  list-style: none;
  margin: 0;
  padding: 0; }

header {
  text-align: center; }

a:link {
  color: inherit; }

a {
  color: inherit; }

.invisible {
  display: none; }

/* * */
/* Layout */
.page-container, .home, .meals-browse {
  width: 80%;
  margin-left: 10%; }

@media (max-width: 600px), handheld {
  .page-container, .home, .meals-browse {
    width: 90%;
    margin-left: 5%; } }
.padding-light {
  padding: 5px; }

.padding-medium {
  padding: 10px; }

.padding-heavy, .btn, .btn-remove, .home-btn_nav, .list-btn, .list-btn_edit, .list-btn_delete, .tile, .list {
  padding: 15px; }

.padding-light_percent, .list-wrapper {
  padding: 3%; }

.padding-medium_percent {
  padding: 6%; }

.margin-light, .btn, .btn-remove, .home-btn_nav, .list-btn, .list-btn_edit, .list-btn_delete {
  margin: 5px; }

.margin-medium {
  margin: 10px; }

.margin-heavy {
  margin: 15px; }

.boxmod-light {
  padding: 5px;
  margin: 5px; }

.boxmod-medium {
  padding: 10px;
  margin: 10px; }

.boxmod-heavy {
  padding: 15px;
  margin: 15px; }

.top-margin_light, .tile {
  margin-top: 2%; }

.top-margin_medium, .home-nav, .tile-browser, .searchbar, .list-wrapper {
  margin-top: 5%; }

.top-margin_heavy {
  margin-top: 10%; }

.stacked-padding_light {
  padding: 1% 5% 3% 5%; }

.stacked-padding_medium {
  padding: 3% 10% 3% 10%; }

.stacked-padding_heavy {
  padding: 5% 15% 5% 15%; }

.flex-container, .divider, .home, .home-nav, .searchbar, .list-content, .list-btns {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */ }

.divider {
  -webkit-justify-content: center;
  justify-content: center;
  margin: 5% 0 5% 10%;
  width: 80%;
  height: 2px;
  background-color: #222222; }

/* * */
/* Shadow */
.shadow-light, .btn, .btn-remove, .home-btn_nav, .list-btn, .list-btn_edit, .list-btn_delete, .list-wrapper {
  box-shadow: 3px 3px 1px 0px #555555; }

.shadow-none, .btn-remove {
  box-shadow: 0px 0px 0px 0px transparent; }

/* * */
/* * * * * * * * * * * */
/* * * * MODULES * * * */
/* buttons */
.btn, .btn-remove, .home-btn_nav, .list-btn, .list-btn_edit, .list-btn_delete {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
  border: none;
  color: #222222; }

.btn-remove {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  border: 5px solid #ED594E;
  font-style: bold;
  font-size: 0.1em;
  margin-bottom: 20px;
  color: #ED594E;
  background-color: transparent; }

/***/
/* home */
.home {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.home-nav {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.home-btn_nav {
  font-size: 4em;
  background-color: #54C571; }

@media (max-width: 600px), handheld {
  .home {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; }

  .home-nav {
    -webkit-flex-direction: row;
    flex-direction: row; }

  .home-btn_nav {
    font-size: 2em; } }
/***/
/* meals */
.meals-browse header {
  font-size: 5em;
  -webkit-text-stroke: 1px #222222;
  color: #fff;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

/***/
/* searchbar */
.searchbar {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  .searchbar input {
    width: 60%;
    font-size: 2em; }

/***/
/* tile */
.tile {
  font-size: 25px;
  font-weight: bold;
  float: left;
  max-width: 300px;
  max-height: 225px; }
  .tile img {
    width: 100%;
    height: 100%;
    display: block; }
  .tile p {
    overflow: hidden;
    width: 65%;
    background-color: #222222;
    color: #fff;
    float: left;
    margin: 0 0 0 0;
    padding: 5% 0 5% 5%; }
  .tile button {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: none;
    font-weight: bold;
    font-size: 25px;
    width: 30%;
    float: left;
    background-color: #54C571;
    margin: 0 0 0 0;
    padding: 5% 5% 5.31% 5%; }

@media (max-width: 600px), handheld {
  .tile button {
    padding: 5% 5% 5.4% 5%; } }
/***/
/* list */
.list-wrapper {
  background-color: #fff; }
  .list-wrapper header {
    font-size: 5em; }

.list-content {
  -webkit-justify-content: space-around;
  justify-content: space-around; }

.list {
  font-size: 4em; }

.list-btns {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.list-btn, .list-btn_edit, .list-btn_delete {
  font-size: 4em; }

.list-btn_edit {
  background-color: #4EE2EC; }

.list-btn_delete {
  background-color: #ED594E; }

@media (max-width: 600px), handheld {
  .list-wrapper header {
    font-size: 3em; }

  .list-content {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; }

  .list {
    font-size: 2em; }

  .list-btns {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around; }

  .list-btn, .list-btn_edit, .list-btn_delete {
    font-size: 2em; } }
/* * */
/* * * * * * * * * * * */
.boxa {
  background-color: #55685e;
  height: 50px;
  width: 50px; }

.boxb {
  background-color: #879c90;
  height: 50px;
  width: 50px; }

.boxc {
  background-color: #748d80;
  height: 50px;
  width: 50px; }

.boxd {
  background-color: #acbbb3;
  height: 50px;
  width: 50px; }

.boxe {
  background-color: #d1dad5;
  height: 50px;
  width: 50px; }

.boxf {
  background-color: white;
  height: 50px;
  width: 50px; }

.box7 {
  background-color: #54C571;
  height: 50px;
  width: 50px; }

.box8 {
  background-color: #4EE2EC;
  height: 50px;
  width: 50px; }

.box9 {
  background-color: #ED594E;
  height: 50px;
  width: 50px; }

/*# sourceMappingURL=main.css.map */
